.tableContainer {
 padding: 20px;

 .topBar {
  display: flex;
  justify-content: space-between;
  align-items: start;
 }

 .controls {
  margin-bottom: 20px;
  width: 60%;

  .searchBar {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 10px;

   .searchInput {
    padding: 8px;
    width: 100%;
    max-width: 300px;
   }

   .addBtn {
    padding: 12px 20px;
    margin-left: 10px;
    background-color: #5b6ad0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    min-width: 150px;

    &:hover {
     background-color: #5b6ad0;
    }
   }
  }

  .addEmployee {
   display: flex;
   gap: 10px;
   margin-block: 20px;
   flex-wrap: wrap;

   input {
    padding: 8px;
    flex: 1;
    min-width: 200px;
   }

   button {
    padding: 12px 20px;
    background-color: #5b6ad0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
     background-color: #5b6ad0;
    }
   }
  }
 }

 .table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  th,
  td {
   padding: 12px;
   text-align: left;
   border-bottom: 1px solid #ddd;
   max-width: 300px;
   word-break: break-word;
  }

  th {
   background-color: #f5f5f5;
   font-weight: bold;
   cursor: pointer;

   &:hover {
    background-color: #e5e5e5;
   }
  }

  tr:hover {
   background-color: #f9f9f9;
  }
  .user {
   display: flex;
   gap: 10px;
  }

  td {
   input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
   }

   button {
    margin-right: 5px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:first-of-type {
     color: #3e9392;
     background-color: transparent;

     &:hover {
      color: green;
     }
    }

    &:last-of-type {
     color: #3e9392;
     background-color: transparent;

     &:hover {
      color: red;
     }
    }
   }
  }
 }
}
